/* GENERAL */
* {
  box-sizing: border-box;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller Regular'),
		url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller Medium'),
		url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.woff2') format('woff2');
	font-weight: 500;
  font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller Bold'),
		url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.woff2') format('woff2');
	font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Muller', sans-serif;
  background-color: #E5E5E5;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.btn {
  padding: 13px 20px;
  background-color: #fff;
  color: #CC9933;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

/* HEADER */
.header-container {
  margin-top: 30px;
  margin-bottom: 70px;
  height: 154px;
}

.header-up {
  height: 50%;
  display: flex;
  margin-bottom: 30px;
}

.header-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-phone {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #666666;
}

.header-right {
  display: flex;
  margin-left: auto;
}

.cabinet {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #CC9933;
}

.tab-cabinet {
  margin-top: 15px;
  margin-right: 5px;
  transform: translateY(+1px);
}

.header-logo {
  margin-right: 35px;
}

.header-down {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.header-nav {
  padding-left: 45px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-top: 27px;
  margin-bottom: 27px;
}

.nav-link {
  color: #666;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-client {
  height: 50px;
  margin-left: 56px;
  padding-left: 56px;
  border-left: 1px solid #e1e1e1;
}

.header-btn {
  transform: translateY(+3px);
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

/* OFFERS */
.offers {
  margin-bottom: 70px;
}

.section-headers {
  margin-top: 0;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  color: #333;
}

.card {
  display: flex;
}

.maldives {
  height: 258px;
  width: 573px;
  margin-bottom: 25px;
  background-image: url(../img/png/maldives.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.krit {
  height: 258px;
  width: 573px;
  background-image: url(../img/png/krit.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.tour-h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
}

.tour-name {
  padding: 40px 234px 40px 40px;
}

.tour-price {
  margin: 0;
  padding: 15px 180px 47px 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: #d2dadc;
}

.tour-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #FFCC66;
}

.v {
  transform: translateY(+5px);

}

.room-advert {
  height: 540px;
  width: 573px;
  margin-left: 25px;
  background-image: url(../img/png/lux.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.room-h1 {
  margin: 0;
  padding: 211px 234px 15px 40px ;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
}

.room-price {
  margin: 0;
  padding: 0px 380px 47px 40px;
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  color: #d2dadc;
}

.room-more {
  padding: 0px 430px 41px 40px;
}

/* ABOUT US */

.about-us {
  margin-bottom: 70px;
}

.about-us-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}

/* SERVICE */

.service {
  margin-bottom: 50px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item  {
  flex: 1 1 auto;
}

.cd {
  width: 570px;
  height: 330px;
}

.cd-1 {
  padding-right: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  background-image: url(../img/png/card-1.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-2 {
  margin-bottom: 25px;
  background-image: url(../img/png/card-2.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-3 {
  padding-right: 25px;
  margin-right: 25px;
  background-image: url(../img/png/card-3.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-4 {
  margin-bottom: 25px;
  background-image: url(../img/png/card-4.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.service-txt {
  padding: 190px 110px 35px 45px;
}

.service-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: #CC9933;
}

.v-service {
  transform: translateY(+4px);
  color: #CC9933;
}

.service-description {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: #000;
}

/* ADVANTAGES */

.advantages {
  margin-bottom: 70px;
}

.advant-list {
  display: flex;
  flex-wrap: wrap;
}

.advant-item {
  flex: 1 1 25%;
  height: 275px;
  max-width: 275px;
  background-color: #fff;
  border-radius: 15px;
}

.advant-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advant-item:not(:nth-child(n+5)) {
  margin-bottom: 23px;
}

.advant-icon {
  padding: 42px 166px 0px 45px;
}

.advant-description {
  padding: 8px 42px 41px 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: #000;
}

/* ACOMMODATION */
.acommod-list {
  display: flex;
  flex-wrap: wrap;
}

.acommod-item {
  height: 440px;
  width: 374px;
  margin-bottom: 23px;
  flex: 1 1 13,3%;
}

.acommod-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.acommod-1 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.acommod-photo {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.acommod-2 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.acommod-3 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.acommod-4 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.acommod-5 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.acommod-6 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.acommod-7 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.acommod-8 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.acommod-9 {
  height: 100%;
  width: 100%;
  background-image: url(../img/png/ht-9.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.acommod-price {
  display: inline-block;
  margin: 0;
  padding: 36px 45px 0px 45px;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #000;
}

.all-variant {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
}

.acommod-9-link {
  padding: 373px 40px 27px 54px;
}

.acommod-name {
  padding-right: 138px;
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.acommod-location {
  padding-right: 138px;
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.stars {
  display: inline-block;
}

.stars:not(:last-child) {
  margin-right: 6px;
}

.acommod-btn {
  margin: 20px 229px 41px 45px ;
}
