/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* HEADER */
.header-container {
  height: 154px;
}

.header-up {
  height: 50%;
  display: flex;
  /* align-items: center; */
}

.header-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-right {
  margin-left: auto;
}

.header-logo {
  margin-right: 35px;
}

.header-down {
  display: flex;
  /* padding-right: 45px;
  padding-left: 45px; */
}

.header-nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

/* OFFERS */
.card {
  display: flex;
}

.room-advert {
  margin-left: auto;
}

/* SERVICE */
.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  flex: 1 1 50%;
}

/* ADVANTAGES */
.advant-list {
  display: flex;
  flex-wrap: wrap;
}

.advant-item {
  flex: 1 1 25%;
  max-width: 242px;
}

.advant-item:not(:nth-child(4n)) {
  margin-right: 50px;
}

.advant-item:not(:nth-child(n+5)) {
  margin-bottom: 25px;
}
